.selected
    background-color rgb(192, 158, 158)

.checked
    text-decoration line-through
    &::before
        content '👍'
        top 30px
        left 3px
        position absolute

#head
    padding 0 20%
    display flex
    flex-direction row
    flex-wrap wrap

#main_input
    width 500px
    height 50px
    max-width 100%
    font-size 30px

#options
    width 20%
    display inline-block
    overflow hidden

#add, #mult
    width 100px !important
    margin 5px !important

#head button
    width 100%
    height 30px
    margin-top 5px
    display inline-block
    overflow hidden
    transition 0.2s
    background-color rgb(15, 221, 15)
    border none
    border-radius 5px

#head button
    &:hover
        background-color rgb(15, 155, 15)

.mult-special
    border 1px solid black !important
    background-color rgb(15, 155, 15) !important

.list_element
    cursor pointer
    font-size 30px
    width 700px
    max-width: 90%
    position relative
    padding 10px 40px
    white-space: pre-wrap
    word-wrap: break-word
    height auto
    transition 0.2s
    &:hover
        background-color rgb(192, 158, 158)


.list-text
    width 90%
    

.remove_button
    cursor pointer
    position absolute
    right 0
    top 0
    width 10%
    height 100%
    font-size 100%
    border none
    background-color inherit
    &:hover
        background-color red

ul
    list-style-type none
    padding 0 20%
